  /* -----------------------
  Stylisation du menu gauche */
  .sidebar {
      position: fixed;
      top: 50px; /* Hauteur de la barre de navigation */
      bottom: 10px;
      left: 0;
      z-index: 100;
      padding: 20px 0; /* Réduisez l'espace en haut si nécessaire */
      width: 250px;
      background-color: #f8f9fa;
      overflow-x: hidden;
      transition: width 0.3s ease;
      }

  .sidebar-heading {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 0;
    }

  }

  .toggle-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 101;
  }


/* ---------------------------------------------------------
Stylisation du modal pour l'affichage des lieux et bureaux */
    .modal-full {
      width: 100vw !important;
      max-width: 100% !important;
  }
  
  .modal-full .modal-dialog {
      max-width: none !important;
      width: 100% !important;
  }
  
  .modal-full .modal-content {
      border: none !important;
  }
  